<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Erliao1_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0014586 0.0068853 0.019492"
        rpy="0 0 0" />
      <mass
        value="0.30433" />
      <inertia
        ixx="0.00022362"
        ixy="-1.5645E-06"
        ixz="-4.8595E-06"
        iyy="0.00022487"
        iyz="-1.8614E-05"
        izz="0.00019999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Erliao1_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Erliao1_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>